
@{
    ViewData["Title"] = "Registro";
}
    <div class="modal fade" id="Registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog form-dark" role="document">
            <!--Content-->
            <div class="modal-content card card-image img-fluid" style="background-image: url('https://www.gratistodo.com/wp-content/uploads/2017/02/Casas-Modernas-7.jpg');">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <!--Header-->
                    <div class="modal-header text-center pb-4">
                        <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel">
                            <strong>Registrar</strong> <a class="green-text font-weight-bold"><strong></strong></a>
                        </h3>
                        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <!--Body-->
                        <div class="md-form mb-5">
                            <input type="email" id="Form-email5" class="form-control validate white-text" placeholder="Email">
                            <label data-error="wrong" data-success="right" for="Form-email5" >Tu correo electronico</label>
                        </div>

                        <div class="md-form pb-3">
                            <input type="password" id="Form-pass5" class="form-control validate white-text" placeholder="Password">
                            <label data-error="wrong" data-success="right" for="Form-pass5">Tu contraseña</label>
                            <input type="password" id="Form-pass5" class="form-control validate white-text"placeholder="Password">
                            <label data-error="wrong" data-success="right" for="Form-pass5">Repite Contraseña</label>
                            <div class="form-group mt-4">
                                <input class="form-check-input" type="checkbox" id="checkbox624">
                                <label for="checkbox624" class="white-text form-check-label">
                                    Accept the<a href="#" class="green-text font-weight-bold">
                                        Terminos y Condiciones
                                    </a>
                                </label>
                            </div>
                        </div>

                        <!--Grid row-->
                        <div class="row d-flex align-items-center mb-4">

                            <!--Grid column-->
                            <div class="text-center mb-3 col-md-12">
                                <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1">Registrar</button>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        @*<div class="row">

                            Grid column
                            <div class="col-md-12">
                                <p class="font-small white-text d-flex justify-content-end">
                                    ¿Nuevo en HousesInPeru? <a href="#" class="green-text ml-1 font-weight-bold">
                                        Registrarse
                                    </a>
                                </p>
                            </div>
                            Grid column

                        </div>*@
                        <!--Grid row-->

                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

